<!DOCTYPE html>
<html>
<head>

<title>Pass Analyzer</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

<h1 class="title">PASS ANALYZER</h1>

<div class="dashboard">

<input type="password" id="password" placeholder="Enter your password">

<div class="buttons">

<button onclick="analyzePassword()">Analyze</button>

<button onclick="generatePassword()">Generate Password</button>

</div>

<div id="result"></div>

</div>

</div>

<script src="/static/js/script.js"></script>

</body>

</html>
